<div class="nav">
  <button type="button" (click)="goBack()">Voltar</button>
</div>

@if (loading) {
  <p>Carregando país...</p>
}

@if (error) {
  <h2 class="vazio">{{ error }}</h2>
}

@if (!loading && !error && country) {
  <div class="caixa-pais2">
    <div id="pais-detalhes" (click)="goBack()">
      <img
        [src]="country.flag?.url_png || country.flag?.url_svg || 'https://cdn-icons-png.flaticon.com/512/616/616616.png'"
        [alt]="country.flag?.description || 'Bandeira não disponível'"
      >

      <h4>{{ country.names?.common }}</h4>

      <h3>
        <span>Nome oficial</span>
        <span>{{ country.names?.official || 'N/A' }}</span>
      </h3>

      <h3>
        <span>Nome em português</span>
        <span>{{ country.names?.translations.por.common || 'N/A' }}</span>
      </h3>

      <h3>
        <span>Capital</span>
        <span>{{ country.capitals?.[0]?.name || 'N/A' }}</span>
      </h3>

      <h3>
        <span>Região</span>
        <span>{{ translateRegion(country.region) || 'N/A' }}</span>
      </h3>

      <h3>
        <span>Sub-região</span>
        <span>{{ translateSubregion(country.subregion) || 'N/A' }}</span>
      </h3>

      <h3>
        <span>População</span>
        <span>{{ country.population || 'N/A' }}</span>
      </h3>

      <h3>
        <span>Área</span>
        <span>{{ country.area.kilometers || 'N/A' }} km²</span>
      </h3>

      <h3>
        <span>Idioma oficial</span>
        <span>{{ country.languages?.[0]?.name || 'N/A' }}</span>
      </h3>

      <h3>
        <span>Moeda</span>
        <span>{{ country.currencies[0]?.name || 'N/A' }}</span>
      </h3>

      <h3>
        <span>Fuso horário</span>
        <span>{{ country.timezones?.join(', ') || 'N/A' }}</span>
      </h3>

      <h3>
        <span>Domínio de internet</span>
        <span>{{ country.tlds?.[0] || 'N/A' }}</span>
      </h3>

      <h3>
        <span>Código de discagem</span>
        <span>{{ country.calling_codes?.[0] || 'N/A' }}</span>
      </h3>
    </div>
    <div id="mapa-pais"></div>
  </div>
}